@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&family=Open+Sans&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

body,
html {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  margin: 0;
  font-family: "Alegreya Sans", "Open Sans", sans-serif;
  line-height: 1.42em;
  position: relative;
}

button {
  border: 0;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}

.wrapper__content {
  position: relative;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 940px;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 724px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 460px;
  }
}

@media screen and (max-width: 768px) {
  section {
    max-width: 768px;
  }
}

.header {
  height: 4.6666666667rem;
}
@media screen and (max-width: 768px) {
  .header {
    background-color: #1968B1;
  }
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.2777777778rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
}

.menu {
  margin-top: 0.5rem;
  margin-left: 2.5833333333rem;
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11em;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .dekstop__menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  margin-right: 1.2222222222rem;
}

.menu__item:last-child {
  margin-right: 2.6111111111rem;
}

.menu__link {
  white-space: nowrap;
}

.contacts {
  margin-top: 0.3888888889rem;
}

@media screen and (max-width: 768px) {
  .header__contacts {
    display: none;
  }
}

.contacts__phone {
  font-style: normal;
  font-weight: 700;
  font-size: 1.2222222222rem;
  line-height: 0.82em;
  white-space: nowrap;
}
.contacts__phone::before {
  content: url("../img/icons/contact.svg");
  margin-right: 0.3333333333rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .logo {
    margin-left: 0.5555555556rem;
  }
}

.hamburger {
  width: 26px;
  height: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 0.5555555556rem;
  }
}

.hamburger__plank {
  display: block;
  height: 4px;
  background: #fff;
  border-radius: 10px;
}

.open-menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .open-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #333537;
  }
}

@media screen and (max-width: 768px) {
  .mobile__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 7.5rem 15.4444444444rem 18.2222222222rem;
  }
}
@media screen and (max-width: 480px) {
  .mobile__menu {
    margin: 9.4444444444rem 7.6666666667rem;
  }
}

@media screen and (max-width: 768px) {
  .menu__list--mobile {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .menu__item--mobile {
    text-align: center;
    margin: 0;
  }
  .menu__item--mobile:last-child {
    margin: 0;
  }
}

.close-menu {
  position: absolute;
  right: 42px;
  top: 42px;
}

.close__icon {
  fill: white;
  stroke: none;
  width: 20px;
  height: 20px;
}

.hero {
  height: 100%;
  background: url("../img/bg/bg-hero.png") no-repeat;
  background-size: cover;
  border: 0.0555555556rem solid #000000;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: right;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    background-position: 80%;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.hero__text-section {
  width: 46%;
  margin-top: 5.6666666667rem;
  margin-bottom: 3.5555555556rem;
}
@media screen and (max-width: 768px) {
  .hero__text-section {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    margin: 20.2777777778rem auto 16.0555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__text-section {
    margin: 14.4444444444rem auto 13.4444444444rem;
    width: 96%;
  }
}

.hero__title {
  font-style: normal;
  font-weight: 700;
  font-size: 2.6666666667rem;
  line-height: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .hero__title {
    font-size: 2.1388888889rem;
  }
}
@media screen and (max-width: 320px) {
  .hero__title {
    font-size: 1.7222222222rem;
  }
}

.hero__subtitle {
  margin-top: 0.9444444444rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1666666667rem;
  line-height: 1.19em;
  margin-bottom: 3.3333333333rem;
}
@media screen and (max-width: 768px) {
  .hero__subtitle {
    margin-bottom: 2.4444444444rem;
  }
}

.button-yellow {
  background: #FEDB3F;
  border-radius: 5.5555555556rem;
  padding: 1.1666666667rem 2.2777777778rem;
  font-style: normal;
  font-weight: 800;
  font-size: 0.8888888889rem;
  line-height: 1.12em;
  text-transform: uppercase;
  color: #000000;
}
.button-yellow:hover {
  background: #FFD517;
  font-style: normal;
  font-weight: 800;
  font-size: 0.8888888889rem;
  line-height: 1.12em;
}

.hero__icons-section {
  padding-top: 0.8333333333rem;
  padding-bottom: 3.6111111111rem;
}
@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.8333333333rem;
}
.features__item:last-child {
  margin-right: 0rem;
}

.features__icon {
  margin-right: 0.7777777778rem;
}

.features__text {
  max-width: 5rem;
  width: 100%;
  max-height: 2rem;
  height: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 0.8888888889rem;
  line-height: 1.12em;
}

.designe__icon, .material__icon {
  width: 34.69px;
  height: 34.69px;
  fill: #fff;
  stroke: none;
}

.delivery__icon {
  height: 24.05px;
  width: 34.69px;
  fill: #fff;
  stroke: none;
}

.headline {
  padding: 5.9444444444rem 16.2222222222rem 0;
}
@media screen and (max-width: 768px) {
  .headline {
    padding: 14.9444444444rem 7.7222222222rem 0;
  }
}
@media screen and (max-width: 480px) {
  .headline {
    padding: 2.8888888889rem 0 0;
  }
}

.headline__title {
  font-style: normal;
  font-weight: 700;
  font-size: 2.6666666667rem;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .headline__title {
    font-size: 2.2222222222rem;
    line-height: 0.9em;
  }
}

.headline__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22em;
  text-align: center;
  color: #666666;
  max-width: 24.2222222222rem;
  width: 100%;
  margin: 0.9444444444rem auto 0;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .section__container {
    margin-bottom: 2.8888888889rem;
  }
}

.shop {
  background-color: #F8FAF9;
  height: 100%;
  position: relative;
}

.shop__container {
  overflow: hidden;
  padding-top: 3.6666666667rem;
}

.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 800px) {
  .slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.slide__left-block {
  margin-right: 4.5555555556rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 400px;
}
@media screen and (max-width: 800px) {
  .slide__left-block {
    max-width: 300px;
    min-width: 1px;
    margin-right: 0;
  }
}

.slide__img--wrapper {
  background: url(../img/boardBG.png);
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 800px) {
  .slide__img--wrapper {
    background-size: contain;
  }
}

.slide__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 800px) {
  .slide__right-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.parametrs {
  background-color: #3A587E;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 5.0555555556rem;
  height: 5.0555555556rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 800px) {
  .parametrs {
    display: none;
  }
}

.parametrs::after {
  content: "";
  position: absolute;
  top: 0;
  left: 70.5%;
  width: 16.6666666667rem;
  height: 16.6666666667rem;
}

.parametrs:hover + .parametrs__tooltip {
  display: block;
}

.parametrs__tooltip:hover {
  display: block;
}

.parametrs__icon {
  width: 38px;
  height: 38px;
  fill: white;
  stroke: none;
}

.slider-button__icon {
  stroke: black;
  fill: none;
  width: 0.7777777778rem;
  height: 1.8333333333rem;
}

.slider {
  margin: 0 3.8333333333rem;
}

.slide__title {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.3888888889rem;
  text-transform: uppercase;
  color: #292929;
  margin-top: 2.8888888889rem;
  margin-bottom: 1.3333333333rem;
}

.slide__desc {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2em;
  color: #666666;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 800px) {
  .slide__desc {
    text-align: center;
  }
}

.slide__params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.3333333333rem;
}

.slide__param {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2.8888888889rem;
}
.slide__param:last-child {
  margin-right: 0;
}

.slide__info {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2em;
  color: #666666;
}

.slide__info--desc {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2em;
  color: #000000;
}

.slide__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 800px) {
  .slide__bottom {
    margin-bottom: 4.5555555556rem;
  }
}

.slide__price {
  font-style: normal;
  font-weight: 300;
  font-size: 3.3333333333rem;
  line-height: 1em;
  text-transform: uppercase;
  color: #151515;
}
@media screen and (max-width: 800px) {
  .slide__price {
    margin-right: 0.8333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .slide__price {
    margin-right: 0.2777777778rem;
  }
}

.slider-button--left {
  position: absolute;
  top: 50%;
  left: 0;
}
@media screen and (max-width: 800px) {
  .slider-button--left {
    top: 25%;
    left: 25%;
  }
}
@media screen and (max-width: 480px) {
  .slider-button--left {
    top: 20%;
    left: 5%;
  }
}

.slider-button--right {
  position: absolute;
  top: 50%;
  right: 0;
}
@media screen and (max-width: 800px) {
  .slider-button--right {
    top: 25%;
    right: 25%;
  }
}
@media screen and (max-width: 480px) {
  .slider-button--right {
    top: 20%;
    right: 10%;
  }
}

.parametr__icon {
  stroke: none;
  fill: #292929;
  width: 32px;
  height: 32px;
}

.length__icon, .width__icon {
  width: 24px;
  height: 18px;
}

.parametrs__tooltip {
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
          box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 4px;
  max-width: 15.1666666667rem;
  max-height: 16.1666666667rem;
  position: absolute;
  right: -1.6666666667rem;
  display: none;
}

.parametrs__items {
  padding: 1.6666666667rem 1.8333333333rem;
}

.parametr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.1111111111rem;
}
.parametr:last-child {
  margin-bottom: 0;
}

.parametr__title {
  font-style: normal;
  font-weight: 500;
  font-size: 0.8888888889rem;
  line-height: 1.5em;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parametr__desc {
  font-style: normal;
  font-weight: 400;
  font-size: 0.8888888889rem;
  line-height: 1.5em;
  text-align: right;
  color: #000000;
}

.parametr__title--length::before {
  content: url(../img/icons/length.svg);
  margin-right: 1rem;
  margin-left: 0.1666666667rem;
}

.parametr__title--width::before {
  content: url(../img/icons/width.svg);
  margin-right: 1.1111111111rem;
  margin-left: 0.3333333333rem;
}

.parametr__title--thickness::before {
  content: url(../img/icons/thickness.svg);
  margin-right: 0.7777777778rem;
}

.parametr__title--lifeTime::before {
  content: url(../../img/icons/lifeTime.svg);
  margin-right: 0.7777777778rem;
}

.parametr__title--weight::before {
  content: url(../img/icons/weight.svg);
  margin-right: 0.7777777778rem;
}

.benefits {
  margin-top: 2.6111111111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 3%;
  position: relative;
}
.benefits__item::before {
  content: url(../img/decor.png);
  top: 14%;
  left: 85%;
  position: absolute;
  width: 3.7222222222rem;
}
.benefits__item:last-child::before {
  display: none;
}
@media screen and (max-width: 768px) {
  .benefits__item {
    padding-right: 8%;
  }
  .benefits__item::before {
    display: none;
  }
  .benefits__item:last-child {
    padding-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 1.7222222222rem;
  }
  .benefits__item:last-child {
    margin-bottom: 0;
  }
}

.benefit__img--wrapper {
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  border-radius: 50%;
  background-color: #F2F5F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefit__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .benefit__text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 0.6666666667rem;
    margin-top: 0.5555555556rem;
  }
}

.benefit__title {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.18em;
  color: #292929;
}

.benefit__subtitle {
  margin-top: 1.1111111111rem;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2em;
  color: #666666;
  text-align: center;
  margin-bottom: 8rem;
}
@media screen and (max-width: 768px) {
  .benefit__subtitle {
    margin-bottom: 16rem;
  }
}
@media screen and (max-width: 480px) {
  .benefit__subtitle {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.pF__icon {
  width: 43.83px;
  height: 68px;
}

.strong__icon {
  width: 64px;
  height: 64px;
}

.unique__icon {
  width: 68px;
  height: 68px;
}

.review {
  margin-top: 1.7777777778rem;
  background-color: #F8FAF9;
  padding: 2.3333333333rem 2.3333333333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .review {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.review__text {
  width: 56%;
  margin-left: 2.1111111111rem;
  margin-top: 1.5555555556rem;
}
@media screen and (max-width: 768px) {
  .review__text {
    width: 100%;
    text-align: center;
    margin-top: 1.7777777778rem;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .review__img {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
  }
}

.review__title {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.18em;
  color: #292929;
}

.review__desc {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22em;
  color: #666666;
  margin-top: 0.7777777778rem;
}

.review__author {
  margin-top: 1.3888888889rem;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33em;
  color: #292929;
}

.reviews__pagination {
  margin-top: 0.8333333333rem;
  margin-bottom: 3.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__pagination {
    margin-bottom: 10rem;
    margin-top: 1.7777777778rem;
  }
}

.reviews__item {
  margin-right: 0.3333333333rem;
}
.reviews__item:last-child {
  margin-right: 0rem;
}

.reviews__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__icon {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border-radius: 50%;
}

.reviews__item--active {
  border: 0.3333333333rem solid #FEDB3F;
  border-radius: 50%;
}

.reviews .container .headline {
  padding-top: 5.3888888889rem;
}

.form-section {
  background: url(../img/bg/surfer.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .form-section {
    padding-top: 9.7222222222rem;
    padding-bottom: 10.2777777778rem;
    background-position: 61%;
  }
}
@media screen and (max-width: 480px) {
  .form-section {
    background-position: 49%;
    padding-top: 4.8333333333rem;
    padding-bottom: 4.5rem;
  }
}

.form__container {
  max-width: 940px;
}

.form-section__title {
  padding: 3.4444444444rem 12.9444444444rem 0rem;
  font-style: normal;
  font-weight: 700;
  font-size: 2.6666666667rem;
  line-height: 1.2em;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .form-section__title {
    padding: 0;
    text-align: center;
  }
}

.form {
  padding: 3.2777777778rem 4.5555555556rem 4.7222222222rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    padding: 1.6666666667rem 27%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 3.5rem 0.6111111111rem 0;
  }
}

.form__column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.5rem;
}
.form__column:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__column {
    margin-right: 0;
    margin-bottom: 0.7777777778rem;
  }
  .form__column:last-child {
    margin-bottom: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.6666666667rem;
}
.form__row:last-child {
  margin-bottom: 0rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.9444444444rem;
}
.form__block:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__block {
    margin-right: 1.2777777778rem;
  }
}

.form__input {
  width: 100%;
  background: #FFFFFF;
  border-radius: 0.2222222222rem;
  padding: 0.9444444444rem;
  border: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    width: 100%;
    padding: 0.5rem 2.5rem;
  }
}

.form__input:focus {
  outline: 0.1666666667rem solid #FEDB3F;
}

.form__input--short {
  margin-right: 0.75rem;
}
.form__input--short:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__input--short {
    padding: 0.4444444444rem;
  }
}

.form__row--textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input--textarea {
  height: 8.4444444444rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 4.5555555556rem;
  }
}

.controls__radio {
  display: none;
}
.controls__radio:checked ~ .radio__visible::before {
  display: block;
}

.controls__checkbox {
  display: none;
}
.controls__checkbox:checked ~ .checkbox__visible::before {
  display: block;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.1111111111rem;
  margin-top: 2.2222222222rem;
}
.form__controls:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .form__controls {
    margin-top: 1.3333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.controls__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.5rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.controls__elem:last-child {
  margin-right: 0;
}

.radio__visible {
  margin-right: 0.5555555556rem;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
}
.radio__visible::before {
  display: none;
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #FEDB3F;
}
@media screen and (max-width: 768px) {
  .radio__visible {
    width: 24px;
    height: 22px;
  }
  .radio__visible::before {
    width: 11px;
    height: 11px;
  }
}

.checkbox__visible {
  margin-right: 0.5555555556rem;
  width: 1.3333333333rem;
  height: 1.3333333333rem;
  border-radius: 0.2222222222rem;
  background-color: #fff;
  position: relative;
}
.checkbox__visible::before {
  display: none;
  content: "✓";
  color: #FEDB3F;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form__buttons {
  margin-top: 2.5555555556rem;
}
@media screen and (max-width: 768px) {
  .form__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__button--transparent {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2em;
  color: #FFFFFF;
  background: transparent;
  text-transform: none;
  margin-left: 1.2222222222rem;
}
.form__button--transparent:hover {
  color: #FEDB3F;
}

.form__title {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .form__title {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .form__title {
    font-size: 18px;
  }
}

.map {
  background: url(../img/map.png) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 652px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .map {
    min-height: 526px;
  }
}

.footer {
  position: relative;
  width: 100%;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #292929;
}

.contacts__place {
  font-style: normal;
  font-weight: 400;
  font-size: 1.1666666667rem;
  line-height: 1.14em;
}

.footer__contacts .contacts__phone {
  font-style: normal;
  font-weight: 400;
  font-size: 1.1666666667rem;
  line-height: 1em;
}
.footer__contacts .contacts__phone::before {
  content: url(../img/icons/phone__black.svg);
}
@media screen and (max-width: 480px) {
  .footer__contacts .contacts__phone {
    text-align: center;
  }
}

.icons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icons__item {
  margin-right: 14px;
}
.icons__item:last-child {
  margin-right: 0;
}

.vk__icon {
  fill: #b3b3b3;
  stroke: none;
  width: 20px;
  height: 11px;
}

.inst__icon {
  fill: #b3b3b3;
  stroke: none;
  width: 20px;
  height: 20px;
}

.tw__icon {
  fill: #b3b3b3;
  stroke: none;
  width: 20px;
  height: 17px;
}

.fc__icon {
  fill: #b3b3b3;
  stroke: none;
  width: 20px;
  height: 20px;
}

.icon__link:hover .icon {
  fill: #292929;
}

.navigation {
  max-height: 10.2222222222rem;
  height: 100%;
  position: fixed;
  top: 11.8888888889rem;
  right: 2.7777777778rem;
  width: 1rem;
}
.navigation .navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation .navigation__list .navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1015px) {
  .navigation {
    display: none;
  }
}

.navigation__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  margin-bottom: 0.3888888889rem;
}

.navigation__link::before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.navigation__item--active .navigation__link {
  border-color: #FFFFFF;
}