/*
Error: Undefined variable: "$containerWidth".
        on line 3 of D:\Course\Surfboard\css\components\form.scss

1: 
2: .form__container{
3:     max-width: $containerWidth;
4:     background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7)),url(../img/bg/bg-form.jpg) center no-repeat;
5:     background-size: cover;
6: }
7: .form-section__title{
8:     padding: 62px 352px 0px;

Backtrace:
D:\Course\Surfboard\css\components\form.scss:3
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/script/tree/variable.rb:49:in `_perform'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/script/tree/node.rb:50:in `perform'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:402:in `visit_prop'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
D:/Course/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
D:/Course/Koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
D:/Course/Koala/bin/sass:22:in `load'
D:/Course/Koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$containerWidth\".\A         on line 3 of D:\Course\Surfboard\css\components\form.scss\A \A 1: \A 2: .form__container{\A 3:     max-width: $containerWidth;\A 4:     background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7)),url(../img/bg/bg-form.jpg) center no-repeat;\A 5:     background-size: cover;\A 6: }\A 7: .form-section__title{\A 8:     padding: 62px 352px 0px;"; }
