.hero{
    max-height: 652px;
    height: 100%;
}
.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: $containerWidth;
    background: url("../img/bg/bg-hero.png") no-repeat;
    background-size: cover;
    border: 1px solid #000000;
}
.hero__text-section{
    padding: 82px 79px 64px;
    max-width: 583px;
    width: 100%;
}
.hero__title{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2em;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
}
.hero__subtitle{
    margin-top: 17px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.19em;
    margin-bottom: 60px;
}
.button-yellow{
    margin-top: 60px;
    background: #FEDB3F;
    border-radius: 100px;
    padding: 21px 41px;

    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 1.12em;
    text-transform: uppercase;
    
    color: #000000;
    &:hover{
        background: #FFD517;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 1.12em;
    }
}
.hero__icons-section{
    padding: 15px 79px 65px;
}
